h1 {
    text-align: center;
    /* sirve para alinear al centro */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* nombre de la familia de la fuente */
    color: black;
    /* color de la fuente */
}

body {
    background-color: antiquewhite;
    /* color de fondo del body de la pagina */
}

p {
    text-align: center;
    /* sirve para alinear al centro */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* nombre de la familia de la fuente */
    color: black;
    /* color de la fuente */
}

/* TABLAS */
img {
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
    width: 200px;
    /*ancho de la imagen*/
    height: 200px;
    /*alto de la imagen*/
}

img:hover {
    background-color: cornflowerblue;
    /* color de fondo al colocar el cursor en la imagen */
}

tr:hover {
    background-color: cornflowerblue;
    /* color de fondo al colocar el cursor en la imagen */
}

a {
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
    text-align: center;
    /* esta propiedad me ayuda a centrar el parrafo */
    color: black;
    /* color de la fuente */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* nombre de la familia de la fuente */
}

/* FORMULARIO DE INPUTS*/
#contrase침a {
    background-color: coral;
    /* color de fondo de la caja */
    color: black;
    /* color de la letra */
}

input {
    border-radius: 3px;
    /* radio estilo de borde */
    border: 3px solid green;
    /* tama침o de borde, color y si es solido */
    background-color: blanchedalmond;
    /* color de fondo al colocar el cursor en la imagen */
    text-align: center;
    /* esta propiedad me ayuda a centrar el parrafo */
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}

.inputcolor {
    background-color: antiquewhite;
    /* color de fondo al colocar el cursor en la imagen */
}
/* ETIQUETAS DE MULTIMEDIA*/
.imagenmultimedia{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}
iframe{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}
embed{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}
object{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}
param{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}
video{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */
}

/* ETIQUETAS DE SEMANTICA*/
p{
    display: block;
    /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto;
    /* esta propiedad me ayuda a centrar el parrafo */ 
}
/* Cambios sobre la propia tabla */
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    
  }
  /* Espacio de relleno en celdas y cabeceras */
  td,
  th {
    padding: 10px;
  }
  /* Modificaci칩n de estilos en cabeceras */
  th {
    background: #000;
    color: #fff;
    text-transform: uppercase;
  }
  /* Modificaci칩n de estilos en celdas */
  td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
  }