h1 {
    text-align: center; /* sirve para alinear al centro */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* nombre de la familia de la fuente */
    color: black; /* color de la fuente */
}

body {
    background-color: antiquewhite; /* color de fondo del body de la pagina */
}

p {
    text-align: center; /* sirve para alinear al centro */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* nombre de la familia de la fuente */
    color: black;  /* color de la fuente */
}

img {
    display: block; /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto; /* esta propiedad me ayuda a centrar el parrafo */
    width: 200px; /*ancho de la imagen*/
    height: 200px; /*alto de la imagen*/
}
img:hover{
    background-color: cornflowerblue; /* color de fondo al colocar el cursor en la imagen */
}
tr:hover{
    background-color: cornflowerblue; /* color de fondo al colocar el cursor en la imagen */
}
a{
    display: block; /* esta propiedad me ayuda a centrar el parrafo */
    margin: auto; /* esta propiedad me ayuda a centrar el parrafo */
    text-align: center; /* esta propiedad me ayuda a centrar el parrafo */
    color: black; /* color de la fuente */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* nombre de la familia de la fuente */
}